{
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "prettier",
        "react-app",
        "react-app/jest"
    ],
    "plugins": [
        "prettier"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "ignorePatterns": [
        "reportWebVitals.js"
    ],
    "rules": {
        "prettier/prettier": [
            "error"
        ],
        "react/prop-types": [
            "warn"
        ]
    }
}