@import "main.scss";

.masterDetail {
    display: flex;
    flex: row nowrap;
    overflow-x: hidden;
    min-height: calc(100vh - 4rem);
}

.master {
    transition: transform 0.3s;
    width: 100vw;
    flex: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: $background-tertiary;
}

.detail {
    transform: translate(0vw);
    transition: transform 0.3s;
    width: 100vw;
    flex: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $background-secondary;
    position: relative;
}

.detailOpen .master {
    transform: translate(-10);
}

.detailOpen .detail {
    transform: translate(-100vw);
}

.iconBtnBack {
    @extend .iconBtn;
    font-size: 1rem;
    line-height: 1;
    padding: 0.75rem 0rem 0rem 0.5rem;
}

.iconBtnBack > span {
    vertical-align: middle;
}

.detailHeader {
    align-self: flex-start;
}

@media only screen and (min-width: 768px) {
    .detailHeader {
        width: 80%;
        align-self: center;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    .master {
        width: 25vw;
        min-width: 25rem;
        max-width: 40rem;
        flex: 0 1 auto;
        transform: translate(0vw);
        transition: transform 0s;
    }

    .detail {
        width: auto;
        flex: 1 1 auto;
        transform: translate(0vw);
        transition: transform 0s;
    }

    .detailOpen .master {
        transform: translate(0);
    }

    .detailOpen .detail {
        transform: translate(0);
    }
}
