@import 'main.scss';

.masterDetail {
    display: flex;
    flex: row nowrap;
    overflow-x: hidden;
    min-height: calc(100vh - 4rem)
}

.master {
    transition: transform .3s;
    width: 100vw;
    flex: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.detail {
    transform: translate(0vw);
    transition: transform .3s;
    width: 100vw;
    flex: none;
    box-sizing: border-box;
}

.detailOpen .master {
    transform: translate(-100vw);
}

.detailOpen .detail {
    transform: translate(-100vw);
}

.iconBtnBack {
    @extend .iconBtn;
    font-size: 1rem;
    line-height: 1;
    padding: .5rem 0rem;
}

.iconBtnBack > span {
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
    .master {
        width: 25vw;
        min-width: 25rem;
        max-width: 40rem;
        flex: 0 1 auto;
        transform: translate(0vw);
        transition: transform 0s;
    }

    .detail {
        width: auto;
        flex: 1 1 auto;
        transform: translate(0vw);
        transition: transform 0s;
    }

    .detailOpen .master {
        transform: translate(0);
    }

    .detailOpen .detail {
        transform: translate(0);
    }
}

.unitList {
    list-style-type: none;
    padding: 2rem;
    font-size: 1.2rem;
}

.unitList > li {
    margin: 0;
    position: relative;
}
// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {

}